celery
Click
cssmin
depinfo
Flask
Flask-Assets
flask-babel
flask-cors
flask-htmx
Flask-Limiter
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
future
gunicorn
importlib_resources
inotify
jsmin
paperglobe @ https://github.com/joachimesque/paper-globe/archive/refs/tags/v0.1.3.tar.gz
pipdeptree
python-dotenv
redis
requests
Werkzeug
