<details open class="card" id="about">
    <summary>
        More info
    </summary>
    <h2 class="text-right">The roots of this project</h2>
    <div class="row">
        <div class="col-4">
            <img src="{{ url_for('static', filename='images/paper-globe.jpg') }}"
                 alt="Photo of the Paper Globe"/>
        </div>
        <div class="col-8">
            <p>
                My name is Joachim. The Paper Globe project has started in 2012, with the publication of <a href="https://joachimesque.com/globe">Le Paper Globe</a>, a template for a <abbr title="do it yourself">DIY</abbr> globe inspired by the <em>Sectional Globe — earth’s axis, 23.4 degrees</em>, created by <a href="https://www.geo-grafia.jp/product/">geografia</a>, a Japan-based design studio.
                <br />
                Le Paper Globe used a simple political map, with only borders and country names, so anyone could customize their globe after printing and assembling it.
                <br />
                In the spirit of the free movement of ideas and education, I released the files under a Creative Commons license which allowed people to share the templates as they see fit, as long as there’s not direct profit from that use. The hashtag <a href="https://twitter.com/hashtag/lePaperGlobe?f=live">#lePaperGlobe</a> shows many of the uses around the world.
            </p>
        </div>
        <div class="col-12"><h3>How was it built?</h3></div>
        <div class="col-8">
            <p>
                Ten years later in 2022, I've been contacted by a teacher who wants to study Mars with his pupils. How could he make a Paper Globe with Mars instead of the Earth? During these 10 years I've been fortunate to improve my coding skills, so I got to work.
                <br />
                It took me a couple of days to create the <strong>PaperGlobe</strong> utility, a Python module that can convert an image to a template file. Then I made this service, so that non-technical people can convert their maps to paper globe templates.
                <br />
                The code for both projects is available:
            </p>
            <ul>
                <li><a href="https://github.com/joachimesque/paper-globe">Paper Globe</a></li>
                <li><a href="https://github.com/joachimesque/paper-globe-web">Paper Globe Web</a></li>
            </ul>
            <p>As with the templates, the code is open source and free to use and modify under a non-commercial license.</p>
        </div>
        <div class="col-4">
            <img src="{{ url_for('static', filename='images/paper-globe.jpg') }}"
                 alt="Photo of the Paper Globe"/>
        </div>
        <div class="col-12"><h3>Sources for the preset images</h3></div>
        <div class="col-4">
            <img src="{{ url_for('static', filename='images/paper-globe.jpg') }}"
                 alt="Photo of the Paper Globe"/>
        </div>
        <div class="col-8">
            <p>
                The images used as presets come from various open source and public domain sources:
            </p>
            <ul>
              <li>The image of the Earth is in the public domain in the United States because it was solely created by <strong><abbr title="National Aeronautics and Space Administration">NASA</abbr></strong>. <a href="https://en.wikipedia.org/wiki/File:Equirectangular-projection.jpg">Source on Wikipedia</a>.</li>
              <li>The vector image of the Political Earth is derived from an image that is in the public domain in the United States because it was created by the <abbr title="Central Intelligence Agency">CIA</abbr>. <a href=https://fr.wikipedia.org/wiki/Fichier:BlankMap-World-Equirectangular.svg>Source on Wikipedia</a>.</li>
              <li>The image of Mars is shared under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a> by <strong>Solar System Scope</strong> based on NASA data. <a href="https://www.solarsystemscope.com/textures/">Source on Solar System Scope</a>.</li>
              <li>The image of the Moon is in the public domain in the United States because it was created by <strong>NASA’s Scientific Visualization Studio</strong> . <a href="https://svs.gsfc.nasa.gov/cgi-bin/details.cgi?aid=4720">Source on NASA’s Scientific Visualisation Studio’s website</a>.</li>
            </ul>
        </div>
    </div>
</details>
<script type="module">window.detailsData("about");</script>
