<div>
    <h2>Generate your Paper Globe template</h2>
    <form action="/upload"
          method="post"
          enctype="multipart/form-data"
          class="flex-wrapper"
          name="upload">
        {{ form.csrf_token }}
        <fieldset>
            <legend>
                Image link/upload
            </legend>
            {% for subfield in form.image_type %}
                {{ subfield }}
                {{ subfield.label }}
            {% endfor %}
            <div id="control-preset" class="control">
                {{ form.image_preset.label }}
                <div class="row preset-list">
                    {% for subfield in form.image_preset %}
                        <div class="col-3">
                            {{ subfield }}
                            <label class="image-radio" for="{{ subfield.id }}">
                                <img src="{{ url_for('static', filename='presets/') }}{{ subfield._value() }}"
                                     alt="{{ subfield.label.text }}"/>
                            </label>
                        </div>
                    {% endfor %}
                    <p class="is-marginless">All presets have an equirectangular projection.</p>
                </div>
            </div>
            <div id="control-upload" class="control">
                {{ form.image_file.label }}
                {{ form.image_file() }}
            </div>
            <div id="control-url" class="control">
                {{ form.image_url.label }}
                {{ form.image_url() }}
            </div>
        </fieldset>
        <div class="row">
            <fieldset class="col-6">
                <legend>
                    Print format
                </legend>
                <div>
                    {% for subfield in form.print_format %}<div>{{ subfield }} {{ subfield.label }}</div>{% endfor %}
                </div>
            </fieldset>
            <fieldset class="col-6">
                <legend>
                    Projection
                </legend>
                <div>
                    {% for subfield in form.projection %}<div>{{ subfield }} {{ subfield.label }}</div>{% endfor %}
                </div>
            </fieldset>
        </div>
        <div>
            <button type="submit">Load</button>
        </div>
    </form>
</div>
<script type="module">
    const uploadForm = document.forms.upload;

    const presetRadio = document.querySelector('input[type="radio"][value="preset"]');
    const typeRadios = uploadForm.elements['image_type'];
    const projectionRadios = uploadForm.elements['projection'];

    const handlePresetChange = (event) => {
      projectionRadios.forEach((projectionInput) => {
        projectionInput.disabled = event.target.value === 'preset';
      });
      projectionRadios.value = event.target.value === 'preset' ? 'equirectangular' : projectionRadios.value;
    }

    typeRadios.forEach((item) => {
      item.addEventListener('change', handlePresetChange);
    });

    projectionRadios.forEach((projectionInput) => {
      projectionInput.disabled = presetRadio.value === 'preset';
    });
    if (presetRadio.value === 'preset') {
      projectionRadios.value = 'equirectangular';
    }
</script>
