<details open class="card" id="help">
    <summary>
        Help!
    </summary>
    <h2>Help</h2>
    <div>
        <h3>How long do you keep the generated templates?</h3>
        <p>
            Due to limited hosting space, generated templates will be kept for <strong>one week</strong>. Seven days after you generate a template, all files and data will be deleted from the server. Be sure to download your template during that time!
        </p>
    </div>
</details>
<script type="module">window.detailsData("help");</script>
