<details open class="card" id="intro">
    <summary>
        What is the Paper Globe?
    </summary>
    <h2>print it, cut it, fold it…</h2>
    <div class="row">
        <div class="col-6">
            <p>
                Paper Globe is a tool that will generate the template of a do-it-yourself globe that you can print, cut and fold. Not only will it look neat in your living room, it is also a very good learning tool for geography, geometry, space…
            </p>
            <p>
                This project has been directly inspired by the <em>Sectional Globe — earth’s axis, 23.4 degrees</em>, created by <a href="https://www.geo-grafia.jp/product/">geografia</a>, a Japan-based design studio. Buy their products, it’s really well made!
            </p>
            <p>The tool is free to use, and the templates that are generated cannot be used for profit.</p>
        </div>
        <div class="col-6">
            <img class="is-full"
                 loading="lazy"
                 src="{{ url_for('static', filename='images/paper-globe-05.jpg') }}"
                 alt="Photo of the Paper Globe"/>
        </div>
    </div>
</details>
<script type="module">window.detailsData("intro");</script>
