<div aria-live="polite">
    {% if job.status == "success" or job.export_url != None %}
        {% include "partials/success.html" %}
    {% elif job.status == "error" %}
        {% include "partials/failure.html" %}
    {% else %}
        <div id="poll"
             data-hx-get="/poll/{{ job.id }}"
             data-hx-trigger="load delay:3s"
             data-hx-swap="outerHTML">
            {% include "partials/loading.html" %}
        </div>
        <noscript>
            <p>Please refresh this page until the result is displayed.</p>
        </noscript>
    {% endif %}
</div>
