<h2>{{ _('Your Paper Globe template')}}</h2>
<p>
    <strong class="tag is-small">{{ job.status }}</strong>
    <br />
    {{ job.message|safe }}
</p>
<p>
    <a href="/export/{{ job.export_url }}"
       download
       class="button primary"
       hx-boost="false">{{ _('Download your template')}}</a>
    {{ _('then')}} <a href="{{ url_for('instructions') }}">{{ _('check out the instructions')}}</a>
</p>
<p>
    {{ _('Or, create <a href="%(url)s">a new template from another image</a>', url= url_for('new'))}}
</p>
