{% extends "layout.html" %}
{% block title %}
    {{ _('Paper Globe assembly instructions')}}
{% endblock title %}
{% block content %}
    <div class="row is-center">
        <div class="col-8">
            {% include "partials/nav.html" %}
            <h2>Instructions</h2>
            <div class="flex-wrapper-large">
                <div class="card row" id="step-1">
                    <div class="col-6">
                        <h3 class="title">{{ _('Step 1')}}</h3>
                        <p>
                            {{ _('You will need <strong>one to two hours</strong> to build your globe. You’ll also need:')}}
                        </p>
                        <ul>
                            <li>{{ _('scissors or an X-ACTO knife &amp; cutting board,')}}</li>
                            <li>{{ _('a ruler,')}}</li>
                            <li>{{ _('an old ballpoint pen')}}</li>
                            <li>{{ _('and coffee.')}}</li>
                        </ul>
                        <p>
                            {{ _('First, print the 14 pages on heavy weight paper (50lb to80 lb or 200 to 300g/m<sup>2</sup>). This step can be done with a laser or an inkjet printer.')}}
                        </p>
                        <p>{{ _('If you’re in North America you can generate a globe template for the US Letter format.')}}</p>
                    </div>
                    <div class="col-6 etape-image">
                        <img src="{{ url_for('static', filename='images/paper-globe-step-1.jpg') }}"
                             alt="{{ _('Step 1')}}"/>
                    </div>
                </div>
                <div class="card row" id="step-2">
                    <div class="col-6">
                        <h3 class="title">{{ _('Step 2')}}</h3>
                        <p>{{ _('Brew a cup of coffee, but put it aside because it’s too hot right now.')}}</p>
                        <p>{{ _('Cut the shapes along the black edges. This step is the longest.')}}</p>
                    </div>
                    <div class="col-6 etape-image">
                        <img src="{{ url_for('static', filename='images/paper-globe-step-2.jpg') }}"
                             alt="{{ _('Step 2')}}"/>
                    </div>
                </div>
                <div class="card row" id="step-3">
                    <div class="col-6">
                        <h3 class="title">{{ _('Step 3')}}</h3>
                        <p>
                            <em>{{ _('pages 1 to 4')}}</em>
                        </p>
                        <p>
                            {{ _('The best way to make clean folds is to mark the folding line with your ballpoint pen on the back of the paper, so that the fold will follow it cleanly.')}}
                        </p>
                        <p>{{ _('Fold the side wings, then mark the folds on the equator and the 45th parallels.')}}</p>
                    </div>
                    <div class="col-6 etape-image">
                        <img src="{{ url_for('static', filename='images/paper-globe-step-3.jpg') }}"
                             alt="{{ _('Step 3')}}"/>
                    </div>
                </div>
                <div class="card row" id="step-4">
                    <div class="col-6">
                        <h3 class="title">{{ _('Step 4')}}</h3>
                        <p>
                            <em>{{ _('pages 7 to 14')}}</em>
                        </p>
                        <p>
                            {{ _('Fold the octogons along the dashed line (use the technique from the last step), then cut out the three inside pieces.')}}
                        </p>
                    </div>
                    <div class="col-6 etape-image">
                        <img src="{{ url_for('static', filename='images/paper-globe-step-4.jpg') }}"
                             alt="{{ _('Step 4')}}"/>
                    </div>
                </div>
                <div class="card row" id="step-5">
                    <div class="col-6">
                        <h3 class="title">{{ _('Step 5')}}</h3>
                        <p>
                            <em>{{ _('pages 5 to 14')}}</em>
                        </p>
                        <p>
                            {{ _('Assemble the insides of the globe by fitting the folded octogons (pieces 7 to 14) in the pieces 5, 6a &amp; 6b.')}}
                        </p>
                        <p>{{ _('The coffee should now be too cold to drink. Micro-wave the cup.')}}</p>
                    </div>
                    <div class="col-6 etape-image">
                        <img src="{{ url_for('static', filename='images/paper-globe-step-5.jpg') }}"
                             alt="{{ _('Step 5')}}"/>
                    </div>
                </div>
                <div class="card row" id="step-6">
                    <div class="col-6">
                        <h3 class="title">{{ _('Step 6')}}</h3>
                        <p>
                            {{ _('Fit the side wings of the exterior pieces (pieces 1 to 4) inside the slits created by the folded octogons.')}}
                        </p>
                    </div>
                    <div class="col-6 etape-image">
                        <img src="{{ url_for('static', filename='images/paper-globe-step-6.jpg') }}"
                             alt="{{ _('Step 6')}}"/>
                    </div>
                </div>
                <div class="card row" id="step-7">
                    <div class="col-6">
                        <h3 class="title">{{ _('Step 7')}}</h3>
                        <p>
                            {{ _('Repeat 7 times, be careful not to put the USA in the middle of Russia. World Wars have been declared for less.')}}
                        </p>
                    </div>
                    <div class="col-6 etape-image">
                        <img src="{{ url_for('static', filename='images/paper-globe-step-7.jpg') }}"
                             alt="{{ _('Step 7')}}"/>
                    </div>
                </div>
                <div class="card row" id="step-8">
                    <div class="col-6">
                        <h3 class="title">
                            {{ _('Step 8')}}
                        </h3>
                        <p>
                            {{ _('Voilà!')}}
                        </p>
                        <p>
                            {{ _('Don’t hesitate to post your pictures <a href="https://twitter.com/search/%%23paperGlobe">on Twitter: #paperGlobe</a> or <a href="https://mastodon.social/tags/paperGlobe">on the Fediverse: #paperGlobe</a>!')}}
                        </p>
                        <p>
                            {{ _('The coffee has been waiting too long in the microwave, it’s turned bad. Brew another cup and drink it while admiring your paper globe, you earned that!')}}
                        </p>
                    </div>
                    <div class="col-6 etape-image">
                        <img src="{{ url_for('static', filename='images/paper-globe-step-8.jpg') }}"
                             alt="{{ _('Step 8')}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
