<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Generate your Paper Globe</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% assets 'css' %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% assets 'stimulus' %}
            <script type="module">
              import { Application } from "{{ ASSET_URL }}"
              window.Stimulus = Application.start()
            </script>
        {% endassets %}
        {% block scripts %}
        {% endblock scripts %}
    </head>
    <body>
        <main class="container">
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <div class="container">
                <div class="row is-center">
                    <p class="col-8  text-center">
                        <small>
                            The website uses one cookie <span aria-hidden="true">🍪</span> to keep a memory for a week of your last template. It also uses a couple of <code>localStorage</code> keys to remember if you opened/close details cards. No data about visitors is transferred, stored, sold, exchanged, manipulated, acquired, stolen, bamboozled, auctioned, nudge-nudge-wink-wink-<wbr />legally-shown-<wbr />to-third-parties, or anything of the sort. Traffic analytics are for insecure chumps.
                        </small>
                    </p>
                    <p class="col-8  text-center">
                        a
                        <a href="https://joachimesque.com">Joachimesque</a> production
                        <a rel="me" href="https://boitam.eu/@joachim" title="Fediverse">🐘</a>
                        <a rel="me" href="https://twitter.com/joachimesque" title="Twitter">🐦</a>
                        <br />
                        made with
                        <span role="img" aria-label="peach emoji symbolizing a heart or a butt">🍑</span> in Montreuil
                    </p>
                </div>
            </div>
        </footer>
        {{ turbo() }}
    </body>
</html>
