<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Generate your Paper Globe</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% assets 'css' %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% assets 'stimulus' %}
            <script type="module">
              import { Application } from "{{ ASSET_URL }}"
              window.Stimulus = Application.start()
            </script>
          {% endassets %}
    </head>
    <body>
        <main class="container">
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <div class="container">
                <p class="text-center">
                    une production
                    <a href="https://joachimesque.com">Joachimesque</a>
                    <a rel="me" href="https://boitam.eu/@joachim">🐘</a>
                    <br />
                    made with <span role="img" aria-label="peach">🍑</span> in Montreuil
                </p>
            </div>
        </footer>
        {{ turbo() }}
    </body>
</html>
