<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Generate your Paper Globe</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.min.css" />
        {% assets 'css' %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <script type="module">
      import { Application } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
      window.Stimulus = Application.start()
        </script>
    </head>
    <body>
        <main class="container">
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <div class="container">
                <p class="text-center">
                    une production
                    <a href="https://joachimesque.com">Joachimesque</a>
                    <a rel="me" href="https://boitam.eu/@joachim">🐘</a>
                    <br />
                    made with <span role="img" aria-label="peach">🍑</span> in Montreuil
                </p>
            </div>
        </footer>
        {{ turbo() }}
    </body>
</html>
